<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.bootopen.db.base.mapper.BaseTestMapper">
    <resultMap id="BaseResultMap-1" type="com.example.bootopen.db.base.mapper.domain.BaseTestBean">
        <constructor>
            <idArg column="ACCESS_TOKEN" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="ver_no" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="create_time" jdbcType="DATE" javaType="java.util.Date"/>
            <arg column="update_time" jdbcType="DATE" javaType="java.util.Date"/>
        </constructor>
    </resultMap>
    <resultMap id="BaseResultMap" type="com.example.bootopen.db.base.mapper.domain.BaseTestBean">
        <result column="ACCESS_TOKEN" property="stId" jdbcType="VARCHAR" />
        <result column="ver_no" property="stVal" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List">
      ACCESS_TOKEN, ver_no, create_time,update_time
    </sql>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t01_wx_access_token
    </select>

</mapper>